.planos{
    background-color: rgb(0, 81, 116);
    margin-left: 10px;
    color: azure;
}
.planos{
   padding: 20px;
}
.valor{
    background-color: #FEDC52;
    margin-left: 5px;
    margin-right: 5px;
}
.nome{
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
.preco{
    padding: 5px;
    font-weight: bold;
}